<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link rel="stylesheet" href="{% static "Index/01.css" %}">
    <script src="{% static "02.js" %}"></script>
</head>
<body>
<html lang="en" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style=""><head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon/favicon-16x16.png">


 <link href="https://ahmadmorsy.github.io/fonts/manrope.css" rel="stylesheet">

<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<script async="" src="//www.google-analytics.com/analytics.js"></script><script src="js/modernizr.js"></script>
<title>Welcome to my website | CodyHouse</title>
</head>
<body class="" style="background-color: black">
<main><div class="cd-main-content cd-index"><div>
<h1>Welcome to my website</h1>
<a class="cd-btn current" href="{% url "register" %}" data-type="page-transition">Register</a>
<a class="cd-btn" href="{% url "login" %}" data-type="page-transition">Login</a>
<a class="cd-btn" href="{% url "logout" %}" data-type="page-transition">Logout</a>
<a class="cd-btn" href="{% url "products" %}" data-type="page-transition">Products</a>





</div></div></main>
<div class="cd-cover-layer"></div>
<div class="cd-loading-bar"></div>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-48014931-1', 'codyhouse.co');
  	ga('set', 'anonymizeIp', true);
  	ga('send', 'pageview');
</script>

</body></html>
</body>
</html>